<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^dist/app.js\/debug[\/]?" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="dist/app.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node"
      debuggingEnabled="true"
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      watchedFiles="*.js;web.config"
      flushResponse="true"/>
  </system.webServer>
</configuration>